/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html {
     height: 0;
     margin: 0;
     background-color: white;
     font-family: verdana, sans-serif;
     font-size: 20px;
 }

a {
    cursor: pointer;
}


h2 {
    color: white;
    background-color: #4EA8FB;
    max-width: fit-content;
    padding: 3px;
}

/* Header navigation styles*/
header {
    height: 300px;
    background: url(../img/official_header.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 52px;
}

p.subtitle {
    padding-top: 275px;
    font-weight: 800;
    color: black;
}

h1 {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4EA8FF;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%
}

nav li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* Social Media link styles*/

aside#social {
    position:fixed;
    top: 360px;
    right: 20px;
}


.social-links {
    list-style: none;
    padding: 20px;
    padding-top: 0px;
    opacity: 0.7;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Section Styles */

section {
}

/* Download Button Styles */

.download-button {
    background-color: DodgerBlue;
    display: inline-block;
    border: none;
    color: white;
    padding-right: 10px;
    font-size: 16px;
}

.download-button:hover{
    background-color: royalblue;
}

/* Weybec photos */

ul.weybec-people {
    list-style: none;
    display: inline-flex;
}

img.headshot {
    height:250px;
    width: auto;
    padding: 25px;
    
}

video {
    height:500px;
    width: 75%;
}


